.footer{
    height: 52vh;
    width: 100vw;
    color: black;
    margin-top: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    font-size: 20px;
    font-family: cursive;
}

.sub{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub input{
   height: 40px;
   width: 60vw;
   border-radius: 20px;
   border: none;
   background-color: #EFF5F5;
   color: black;
   font-weight: 200;
   outline: none;
   padding-left: 20px;
}
.sub button{
    height: 40px;
    width: 15vw;
    border-radius: 20px;
    border: none;
    margin-left: -10%;
    background-color: #47B5FF;
    color: white;
    font-weight: 200;
    font-size: 22px;
}
.icons{
    display: flex;
    cursor: pointer;
    /* align-items: center;
    justify-content: center; */
}
.icons img{
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 50%;
    margin-top: 30px;
}
.ficon img{
    cursor: pointer;
    height:50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: black; */
    margin-top: 30px;
    margin-right: 10px;
}
.fitems{
    cursor: pointer;
    display:flex;
}
.fline{
    height: 1px;
    background-color: rgb(165, 165, 165);
    width: 100vw;
    margin-top: 10px;
}
.ftext{
    display: flex;
}
.flist{
    color: black;
    margin-left: 130px;
    font-size: 22px;
}
.flist ul{
    list-style-type: none;
    margin-top: 10px;
}
.flist li{
    cursor: pointer;
    font-size: 18px;
    margin-left: -40px;
}
.fline2{
    height: 1px;
    background-color: rgb(165, 165, 165);
    width: 100vw;
}
.footer p{
    color: black;
    margin-left: 7%;
    font-size: 18px;
}
.cpy{
    color: black;
    margin-left: 4%;
    font-size: 20px;
    margin-top: 0px;
}