body{
    overflow-x: hidden;
}
.link{
    color: black;
    text-decoration: none;
}
.navbar{
    display: flex;
    /* justify-items: center; */
    /* justify-content: space-around; */
    align-items: center;
    padding-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.navbar p1{
    margin-left: 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}
.navbar p1:hover{
    font-weight: 700;
    font-size: 20px;
}
.navbar h1{
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar p2{
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar span{
    margin-left: 40%;
}
.navbar img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 200px;
}
.navbar input{
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #EEEEEE;
    margin-top: 2px;
    margin-left: -400px;
    outline: none;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    height: 30px;
    width: 100vw;
    background-color: #EEEEEE;
    margin-top: -20px;
    margin-bottom: -5px;
    color:#000000;
}
.top p{
    color: #000000;
    font-weight: 400;
    margin-top: 20px;
}
.navbar button{
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: #EEEEEE;
    margin-left: -5px;
}

.category{
    height: 200px;
    width: 300px;
    background-color: white;
    z-index: 10;
    position: absolute;
    left: 20%;
     overflow-y: scroll;
}
.invisible{
    display: none;
}
.hero ul{
    list-style-type: none;
}
.hero li{
    margin-bottom:20px ;
   
}
.hero li:hover{
    /* background-color: #c6426e4a; */
    cursor: pointer;
    color: #C6426E;
    padding: 5px;
}
.ricon{
    margin-left:-10px;
}
.clist{
    list-style-type: none;
}
.clist li{
    line-height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.clist li:hover{
    font-weight: 600;
    cursor: pointer;
}
