body{
    overflow-x: hidden;
}
.navbar{
    display: flex;
    /* justify-items: center; */
    align-items: center;
    padding-top: 10px;
}
.navbar p1{
    margin-left: 30px;
    cursor: pointer;
}
.navbar h1{
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar p2{
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* .navbar p2:hover{
    background-color: gray;
    border-radius: 10px;
    padding: 5px;

} */
.navbar span{
    margin-left: 40%;
}
.navbar img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 20px;
}
.navbar input{
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #EEEEEE;
    margin-top: 2px;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    height: 30px;
    background-color: #2E0249;
    margin-top: -20px;
    margin-bottom: -5px;
}
.top p{
    color: white;
    margin-left: 30%;
    font-weight: 100;
}
.navbar button{
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: #EEEEEE;
    margin-left: -5px;
}
.hero{
    height: 350px;
    margin-top: 10px;
    background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.hero img{
    position: relative;
    /* top: -200px; */
    margin-left: 10%;
    width: 80%;
    height: 300px;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: rgb(86, 15, 30) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.category{
    height: 200px;
    width: 300px;
    background-color: white;
    z-index: 10;
    position: absolute;
    left: 20%;
     overflow-y: scroll;
}
.invisible{
    display: none;
}
.hero ul{
    list-style-type: none;
}
.hero li{
    margin-bottom:20px ;
   
}
.hero li:hover{
    /* background-color: #c6426e4a; */
    cursor: pointer;
    color: #C6426E;
    padding: 5px;
}